.form__container {
  padding: 40px 40px 0 50px;
  width: 100%;
  background-color: #f4f4f5;
}

.form__container h1 {
  margin-bottom: 50px;
}

.form__container input {
  padding: 10px 5px;
  margin: 10px 0;
}

.form__container form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media screen and (max-width: 769px) {
  .form__container form {
    width: 100%;
  }
}
